* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Header */
  header {
    background-color: #0d4ad6;
    color: #fff;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo a {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
.menu {
    display: flex;
  }
  
  .menu a {
    margin-left: 20px;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  /* Main content */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 40px;
  }

  .Background{
    background-image: url(./Assets/mobile_intro_bg.png);
    margin-top: -10px;
    width: 1200px;
    height:auto;
    margin-left: 90px;
}



/* Header Styles */
.Title {
   
    color: red;
    padding: 50px 20px;
    text-align: center;
}

.Title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 300px;
}

.Title h1 {
    font-size: 60px;
    margin-top: 0;
    text-align: left;
    margin-left:200px;
}

/* Main Content Styles */
main {
    padding: 40px 20px;
}

.intro,
.details {
    margin-bottom: 40px;
}


.details h3 {
    font-size: 40px;
    color: #FF3300;
    margin-bottom: 20px;
}

.intro p
{
    font-size: 24px;
    color: rgb(94, 88, 88);
    
    margin-left: 100px;
}
.details p {
    font-size: 32px;
    color: rgb(94, 88, 88);
    margin-bottom: 20px;
    margin-left: 100px;
}

.program{
    width: 1200px;
    height:775px;
    border: 1px solid black;
    margin-left: 95px;
}
.nd{
    background-color: black;
    border: 1px solid red;
    width:1200px;
    height:400px;
    display: flex;
}
.st {
    border: 1px solid green;
    background-color: darkolivegreen;
    width: 250px;
    height: 150px;
    margin-left: 90px;
    margin-top:100px;
}
